{
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "always",
    "jsxBracketSameLine": true,
    "printWidth": 60,
    "importOrderSeparation": false,
    "experimentalBabelParserPluginsList": [
        "jsx",
        "typescript"
    ]
}
